@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Optional background color */
}

.main {
    text-align: center;
}

h1 {
    position: absolute;
    margin-bottom: 1rem;
    color: aqua;
    font-size: 35px;
}

p {
    
    position: absolute;
    font-size: 1.5rem;
    color:white;
}

.video video {
    position: absolute;
    max-width: 100%; /* Ensures video fits in container */
    height: auto;
    display: block;
    margin: 0 auto 1rem auto; /* Centers video */
}


.sfx audio {
    display: none; /* Hides the audio controls */
}